

.container{
    min-height: 75vh;
}



.carousel {
    width:100%;
    min-height: 75vh;

}


  

.card{
      padding: 15px;
      margin: 15px;
}

.newsletter{
      background-image: url(../Images/newsletterBG.jpg);
      background-repeat: no-repeat;
      background-size: cover;

}

.gallery{

      .card{
          background-color: #f3f3f3;
         
      }
}