.carousel {
  width: 100%;
  min-height: 75vh;
}
.carousel .carousel-item img {
  size: 50%;
}

.card {
  padding: 15px;
  margin: 25px;
}

.newsletter {
  background-image: url(../Images/newsletterBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}